[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"

[packages]
configargparse = "*"
gitpython = "*"
semver = "*"

[requires]
python_version = "3.8"
